#navigation {
  position: fixed;
  left: 5rem;
  top: 5rem;
  font-family: "Open Sans";
}
body {
  background: grey;
}

@media (max-width: 600px) {
  #navigation {
    display: none;
  }
}

a {
  text-decoration: none;
  color: beige;
  font-size: 2rem;
}
a:hover {
  color: pink;
}

a.active {
  color: orange;
}
