!!! 5
%html
  %head
    %meta{'charset' => 'utf-8'}/
    %title Donuts
    %meta{'name' => 'Donuts Sketch', 'content' => 'donuts'}/
    %meta{'name' => 'author', 'content' => 'Louis Knapp'}/
    %link{type: "text/css", rel: 'stylesheet', href: './jquery-ui.css'}/
    %link{type: "text/css", rel: 'stylesheet', href: './styles.css'}/
  %body
    .background
    .donuts
      %img.blue{src: "./images/donuts/blue.png"}
      %img.green{src: "./images/donuts/green.png"}
      %img.purple{src: "./images/donuts/purple.png"}
      %img.rainbow{src: "./images/donuts/rainbow.gif"}
      %img.red{src: "./images/donuts/red.png"}
      %img.yellow{src: "./images/donuts/yellow.png"}

    %script{src: "./jquery-2.1.1.js"}
    %script{src: "./jquery-ui.js"}
    %script{src: "./script.js"}

